*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form-section{
    background-color: rgb(25, 124, 73);
    min-height: 745px;
    padding: 50px 0;
}

.general-container{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(1, 66, 26);
    border-radius: 20px;
    text-align: center;
    padding: 0 70px;
}

h1{
    font-size: 40px;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex-basis: calc(85% / 3);
}

.col.buttons{
    flex-basis: 15%;
}

.title{
    font-size: 20px;
    padding-bottom: 0;
}

input{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(6, 58, 6);
    margin: 10px;
    text-align: center;
}

button{
    margin: 5px;
    padding: 5px;
    background-color: rgb(20, 170, 92);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

h2{
    font-size: 30px;
    color: white;
    padding: 30px 0;
}

.discount{
    text-align: left;
    padding: 30px 0;
    color: white;
    font-size: 12px;
}


.none{
    display: none;
}

.biglietto{
    font-size: 30px;
}

.col.ticket.large{
    flex-basis: 30%;
    background-color: lightgray;
}

.col.ticket{
    flex-basis: calc(70% / 4);
    background-color: white;
    margin-bottom: 50px;
}

h5{
    padding: 20px 0;
    font-size: 20px;
}

h4{
    padding: 20px 0;
    font-size: 15px;
}

.name, .km, .carrozza, .posto, .costo{
    font-size: 20px;
    padding-bottom: 20px;
}